*~
x86_64
i386
umac
*.dll
*.pyc

PyNN/*.dat
NeuroML2/*.dat

NeuroML2/*.dat.lems
NeuroML2/*.hoc
NeuroML2/*.mod
NeuroML2/*nrn.py
/PyNN/exIzh.dat
/NeuroML2/LEMS_2007One.py
/NeuroML2/LEMS_2007One.py_main.json
/NeuroML2/RS.cell.json
/NeuroML2/RS_Iext.input.json
/NeuroML2/RS_Iext_inputdefinition.py
/NeuroML2/RS_celldefinition.py
/NeuroML2/LEMS_2007One_pynn.py
/NeuroML2/LEMS_2007One_pynn.py_main.json
/NeuroML2/*.spikes
/PyNN/Positions.nml.h5
/PyNN/Positions.png
/PyNN/Positions.pov
/PyNN/PyNN_NeuroML2_Export.svg
/PyNN/*.spikes
/PyNN/Positions.net.nml.h5
/PyNN/Inputs.net.nml
/PyNN/LEMS_Sim_Inputs.xml
/PyNN/PyNN_NeuroML2_Export.net.nml
/PyNN/LEMS_Sim_Positions.xml
/PyNN/LEMS_Sim_PyNN_NeuroML2_Export.xml
/PyNN/LEMS_Sim_ConnectionsTest.xml
/NeuroML2/*.png
/NeuroML2/*.pov
/tests.log
/NeuroML2/*.input.json
/NeuroML2/*definition.py
/NeuroML2/*pynn.py
/NeuroML2/IF_cond_alpha_pop_pre.cell.json
/NeuroML2/LEMS_Sim_Inputs_pynn.py_main.json
/PyNN/tests.log
/PyNN/clean.sh
/PyNN/Test.py
arm64
